.primaryBtn{
  margin-bottom: 4px;
  width: 30%;
}
.secondaryBtn {
  margin-top: 4px;
  width: 20%;
}

.primaryBtnBox {
  display: flex;
  justify-content: center;

}
.secondaryBtnBox {
  display: flex;
  justify-content: center;

}
mat-card{
  background-color: lightgray;
  margin: 8px;
}
