mat-form-field{
  width: 100%;
}

.newCharacterForm{
  display: flex;
  flex-direction: column;
}

.veryShort{
  width: 150px;
}

.short{
  /*width: 35%;*/
}

.long{
  /*width: 90%;*/
}

.primaryBtn{
  margin-top: 50px;
  /*width: 15%;*/
}

.secondaryBtn{
  /*width: 15%;*/
  margin-top: 10px;
}

