<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">




<div class="body">
  <div class="loginText">
    <div class="top">
      <h2 class="text">Login</h2>
      <div class="loginTextBox">
        <div class="label">
          <textarea></textarea>
        </div>
      </div>
    </div>
  </div>


  <div class="profileButton">
    <div class="bottom">
      <div class="buttonText">
        <button>Profile Create</button>
      </div>
    </div>
  </div>
</div>

</body>
</html>

