mat-card{
  background-color: lightgray;
  margin: 8px;
}


.primaryBtn{
  margin-bottom: 4px;
  width: 90%;
}
.secondaryBtn {
  margin-top: 4px;
  width: 90%;
}

.primaryBtnBox {
  display: flex;
  justify-content: center;
  
}
.secondaryBtnBox {
  display: flex;
  justify-content: center;
  
}

i {
  margin: 4px;
}