<div class="details-container">
  <div>
    <h2>{{activeStory.title}}</h2>
    <ul class="scrolling">
      <div class="messages"><li *ngFor="let message of plot" class="{{message.color}}">{{message.message}}</li></div>
    </ul>
  </div>
</div>
<div class="messageBox">
  <mat-form-field class="messageField" appearance="legacy">
    <!-- <textarea matInput [(ngModel)]="newMessage" (keyup.enter)="writeStory()"></textarea> -->
    <textarea matInput [(ngModel)]="newMessage" (keyup.enter)="writeStory('player')"></textarea>
  </mat-form-field>
  <button class="addBtn" (click)="writeStory('player')">+</button>
  <button class="addBtn2" (click)="writeStory('narrator')">+</button>
</div>
