<div class="details-container">
  <div>
    <h2>{{activeStory.title}}</h2>
    <ul class="scrolling">
      <!--<div style="display: flex; justify-content: center; flex-direction: column">-->
        <li *ngFor="let message of plot" class="{{message.color}}">{{message.message}}</li>
      <!--</div>-->
    </ul>
  </div>
</div>
<div class="messageBox">
  <mat-form-field class="messageField" appearance="legacy">
    <textarea matInput [(ngModel)]="newMessage"></textarea>
  </mat-form-field>
  <button class="addBtn" (click)="writeMessage('player')">+</button>
  <button class="addBtn2" (click)="writeMessage('narrator')">+</button>
</div>
