<div class="details-container" *ngIf="data">
  <div>
    <h2>{{data.name}}'s Inventory</h2>
      <ul class="scrolling">
        <li *ngFor="let item of inventory$">{{item}}</li>
      </ul>
  </div>
</div>

<mat-form-field appearance="legacy" class="short">
  <input id="newItem" #newItem matInput maxlength="35" placeholder="add item">
</mat-form-field>
<button class="addBtn" (click)="addItem(newItem.value)">+</button>
<br>
<button mat-raised-button class="secondaryBtn" color="warn" [mat-dialog-close]="true">Done</button>

