.secondaryBtn {
  margin-top: 4px;
  width: 20%;
}

mat-card {
  background-color: lightgray;
  margin: 8px;
}

.delete {
  min-width: 1%;
  opacity: 0.3;
  font-weight: lighter;
}

.delete:hover {
  opacity: 1;
}
